.button {
  border-radius: 3vw;
    border-style: none;
    text-decoration: none;
    font-size: 1em;
    color: white;
    background-color: #6fa14b;
    text-align: center;
    transition: all 0.2s;
    width: 10px;
    height: 5px;
    margin-bottom: 5px;
}
#confirmation {
  color: limegreen;
}

#background {
  font-family: Helvetica;
  background-color: limegreen !important; 
}

td {
  vertical-align: top !important;
}