table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table-holder {
  text-align: center;
  margin-top: 10%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid rgb(70, 63, 63);
}

th {
  background-color: cyan;
  font-size: 2em;
}

td {
  font-size: 1.5em;
}

#board {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

/* Home Button */
.home-btn {
  border-radius: 3vw;
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: black;
  background-color: cyan;
  text-align: center;
  transition: all 0.2s;
  width: 50vw;
  height: 10vh;
  margin-bottom: 5vh;
}

.home-btn-holder {
  text-align: center;
  margin-top: 25%;
}

.home-btn:hover {
  background-color: white;
  cursor: pointer;
}

@media all and (max-width:30em) {
  .home-btn {
    display: block;
    margin: 0.2em auto;
  }
}

#body {
  background-color: #47C903;
}

/* Dropdown Button */
.dropbtn {
  background-color: #A9BA9D;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .5em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #9dc183;
}

#text {
  font-size: 50px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  color: #818181;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}