body{
    background-color: grey;
}

button {
    width: 35vw;
    height: 25vh;
    position: absolute;
    border: none;
    font-size: 4.5vw;
    font-family: Helvetica;
}

button:hover{
    border:black 2px solid;
}

#compost {
    top: 0%;
    left: 0%;
}

#paper {
    top: 0%;
    left: 100%;
    transform: translate(-100%);
}

#ewaste {
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
}

#trash {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#question {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}

#quit {
    width: 10vh;
    height: 3vh;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

#score {
    width: 20vw;
    height: 20vh;
    position: absolute;
    text-align: center;
    top: 28%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#clock {
    width: 20vw;
    height: 20vh;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bolder;
    font-family: Helvetica;
}

.gameplay {
    display: none;
    font-family: Helvetica;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #818181;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#myNav {
    height: 100%;
}

.end {
    display: none;
    font-family: Helvetica;
}

#endScore {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#home {
    width: 200px;
    height: 100px;
    font-size: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#compost {
    background-color: green;
}

#ewaste {
    background-color: lightslategrey;
}

#paper {
    background-color: lightskyblue;
}

#trash{
    background-color: brown;
}

.diff{
    font-family: Helvetica;
}