button{
    width: 35vw;
    height: 25vh;
    position: absolute;
    font-weight: bolder;
    font-size: 5vw;
}

#compost{
    top:0%;
    left: 0%;
}

#paper{
    top:0%;
    left:100%;
    transform: translate(-100%);
}

#ewaste{
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
}

#trash{
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#question{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20vh;
    width: 30vw;
    transform: translate(-50%, -50%);
}

#quit{
    width: 10vh;
    height: 3vh;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

#score{
    width:20vw;
    height:20vh;
    position: absolute;
    text-align: center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer{
    width:20vw;
    height:20vh;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}