.button {
    border-radius: 3vw;
    border-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: black;
    background-color: cyan;
    text-align: center;
    transition: all 0.2s;
    width: 500px;
    height: 8vh;
    margin-bottom: 5vh;
}

.buttonHolder {
    text-align: center;
}

.button:hover {
    background-color:white;
    cursor: pointer;
}

@media all and (max-width:30em) {
    .button {
        display: block;
        margin: 0.2em auto;
    }
}

#body {
    background-color: #47C903;
}

.nav-link {
    text-align: right;
    font-size: medium;
}

.navbar {
    min-height: 130px;
}

#logo {
    text-align: center;
}