button{
    position: absolute;
    height: 15vh;
    width: 90vw;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-size: 5vh;
}

#trash{
    left: 50%;
    top: 20%;
}

#compost{
    left: 50%;
    top: 40%;
}

#ewaste{
    left: 50%;
    top: 60%;
}

#paper{
    left: 50%;
    top: 80%;
}